<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../favicon.ico" />
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" type="text/css" -->
<!-- 		href="../resources/css/main.css"> -->
</head>

<body>

	<a href="/funcionarios/index.html">Voltar</a>



	<div id="app">
		 	<p v-if="mensagem">{{mensagem}}</p> 

		<h4>Cadastro de novo setor</h4>

		<div class="col-6">
			<div class="form-group">
				<label for="nome">Nome</label> <input type="text"
					class="form-control" id="nome"
					aria-describedby="emailHelp" placeholder="Nome" v-model="nome">
			</div>
						</div>
			<button type="submit" @click="enviarFormulario" class="btn btn-primary">Cadastrar</button>
	</div>
	
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>
</html>