<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" type="text/css" -->
<!-- 		href="../resources/css/main.css"> -->
</head>

<body>

	<a href="/funcionarios/index.html">Voltar</a>



	<div id="app">
		 	
		 	<div v-if="mensagem" class="alert alert-primary alert-dismissible fade show" role="alert">
  					{{mensagem}}
  				<button type="button" class="close" @click="fecharMensagem()">
    				<span aria-hidden="true">&times;</span>
  				</button>
</div>
		 	<div>
		 		<ul v-for="erro in erros">
		 			<li class="alert alert-danger">{{erro}}</li>
		 		</ul>
		 	</div>

		<h4>Cadastro de funcionário</h4>

		<div class="col-6">
			<div class="form-group">
				<label for="nome">Nome</label> <input type="text"
					class="form-control" id="nome"
					aria-describedby="emailHelp" placeholder="Nome" v-model="nome" required="required">
			</div>
			<div class="form-group">
				<label for="idade">Idade</label> <input
					type="number" class="form-control" id="idade"
					placeholder="idade" v-model="idade">
			</div>
			<div class="form-group">
				<label for="salario">Salario</label> <input type="text"
					class="form-control" id="salario"
					 placeholder="Salario" v-model="salario">
			</div>
			<div class="form-group">
				<label for="email">E-mail</label> <input type="email"
					class="form-control" id="email"
					 placeholder="E-mail" v-model="email">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Selecione um setor</label> <select
					class="form-control" id="exampleFormControlSelect1" v-model="setor">
					<option v-for="setor in listaSetor" v-bind:value="setor.id">{{setor.nome}}</option>

				</select>
			</div>
			<button type="submit" @click="enviarFormulario($event)" class="btn btn-primary">{{salvar}}</button>
		</div>
	</div>
	
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>

</body>
</html>